---
user_connectors:
  - name: 'cluster-connector'

user_broadcast_groups:
  - name: 'cluster-broadcast-group'
    connectors_ref:
      - 'cluster-connector'

user_discovery_groups:
  - name: 'cluster-discovery-group'

user_cluster:
  user: 'clusterUser'
  password: 'clusterPassword'

user_cluster_connections:
  - name: 'artemis-cluster'
    connector_ref: 'cluster-connector'
    discovery_group_ref: 'cluster-discovery-group'

user_ha:
  policy: replication
  role: backup
  properties:
    initial_replication_sync_timeout: 9876
    retry_replication_wait: 12345
    allow_failback: true