.dockerignore
.git*
.idea/
operator-crd/artemis
standalone-suite/artemis
*/test-logs/
*/test-tmp/
container_build_*.log
performance/
pom.xml.versionsBackup
standalone-suite/https_console_tune.yaml
test-results/
tmp/