.dockerignore
.git*
.idea/
*.iml
*/target/
*/test-cfg/
*/test-logs/
*/test-tmp/
/target/
common.yaml
operator-suite/artemis/
operator-suite/certificates/
operator-suite/container/
operator-suite/operator-suite.log
operator-suite/serialization-dump/
performance/
pom.xml.versionsBackup
settings.xml
standalone-suite/artemis/
standalone-suite/certificates/
standalone-suite/dockerfiles/artemis/*.gz
standalone-suite/dockerfiles/artemis/*.xz
standalone-suite/https_console_tune.yaml
standalone-suite/standalone-suite.log
standalone-suite/test-cfg/
test_upgrade_plan.yaml
test-results/
version_map.yaml
