.idea/
.vscode/
*.iml
/target/*
*/target/*
*/test-logs/
*/test-tmp/*

test_upgrade_plan.yaml
version_map.yaml
common.yaml
settings.xml
operator-suite/artemis/
operator-suite/certificates/
operator-suite/operator-suite.log
standalone-suite/artemis/
standalone-suite/standalone-suite.log
standalone-suite/test_cfg/
standalone-suite/dockerfiles/artemis/*.gz
standalone-suite/dockerfiles/artemis/*.xz
standalone-suite/certificates/
standalone-suite/https_console_tune.yaml
standalone-suite/standalone.properties.bak