---
user_address_settings:
  - match: activemq.management#
    dead_letter_address: DLQ
    expiry_address: ExpiryQueue
    redelivery_delay: 0
    max_size_bytes: -1
    message_counter_history_day_limit: 10
    address_full_policy: PAGE
    auto_create_queues: true
    auto_create_addresses: true
  - match: '#'
    dead_letter_address: DLQ
    expiry_address: ExpiryQueue
    redelivery_delay: 0
    max_size_bytes: -1
    message_counter_history_day_limit: 10
    address_full_policy: PAGE
    auto_create_queues: true
    auto_create_addresses: true
    auto_delete_queues: false
    auto_delete_addresses: false
    max_size_messages: -1
    page_size_bytes: 10M
    max_read_page_messages: -1
    max_read_page_bytes: 20M

  - match: 'testPagingMaxReadMessagesAs10'
    address_full_policy: PAGE
    max_size_messages: 10
    max_read_page_messages: 10
    max_read_page_bytes: -1
    page_size_bytes: 10K

  - match: 'testPagingMaxReadBytesAs10K'
    address_full_policy: PAGE
    max_size_messages: 10
    max_read_page_messages: -1
    max_read_page_bytes: 10K
    page_size_bytes: 10K
