name: Java Maven build

on:
  push:
  pull_request:
    branches:
      - main

permissions: read-all

jobs:
  build_and_test:
    name: Build Maven
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up a cache for Maven
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Configure GitHub Packages Maven repository
        run: cp .github/workflows/settings.xml ~/.m2/

      - name: Build standalone tests with Maven
        run: make build

      - name: Run standalone smoke tests
        run: make standalone_test_smoke
